body {
  background-color: #f39494;
}
h1 {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
}
.p1 {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
}
input {
  background-color: #f5f5f5;
  color: #999999;
  font-size: 16px;
  font-weight: 400;
}
button {
  background-color: #089fe0;
  color: #ffffff;
}
.input3 {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
}
